<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aquafill">

    <!--
    User Permissions
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true" />

    <!--
    Setting App Properties
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--
        Define Activities the app will use
        -->

        <activity
            android:name=".Settings_Page"
            android:parentActivityName=".Main_Nav_Bar" />
        <activity
            android:name=".About_Plastic_Page"
            android:parentActivityName=".Main_Nav_Bar" />
        <activity
            android:name=".About_App_Page"
            android:parentActivityName=".Main_Nav_Bar" />

        <!--
        App Start Up Activity
        -->

        <activity
            android:name=".Main_Nav_Bar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        Google Map API key
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
        Define App Fonts
        -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>